* {
  box-sizing: border-box;
}
.timer {
  display: flex;
  flex-direction: row;
}
.timer-block {
  width: 100px;
  height: 200px;
  font-size: 20px;
  margin: 20px;
  border: 1px solid #0c0202;
  text-align: center;
}
.timer-block span {
  display: block;
  font-size: 70px;
  margin-top: 30%;
  margin-bottom: 30px;
}
